@tailwind base;
@tailwind components;
@tailwind utilities;

.text-orange {
  color: #E75C33;
}

.bg-orange{
  background-color: #E75C33;
}
  
.bg-orange-muda{
  background-color: #FFD7CB;
}

.bg-abu{
  background-color: #E5B6A9;
}

#dropdownMenu.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto; 
}

#dropdownMenu li a:hover {
  color: #FFD7CB; 
  text-decoration: underline;
}